<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= typeof title !== 'undefined' ? title : 'CommunityConnect' %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('../partials/simpleNav') %>
    <%- include('../partials/flashMessage') %>
    <%- body %>
    <%- include('../partials/footer') %>
    <script src="/js/main.js"></script>
  </body>
</html>
